.productDetail {
    display: flex;
    align-items: flex-start;
    border: 4px solid #000000;
    padding: 20px;
    border-radius: 10px;
    max-width: 800px;
    max-height: 300;
    margin-top: 40PX;
    margin-bottom: 40PX;
    background-color: #e0beabe9;
    border-color: linear-gradient(to right, black, rgb(4, 48, 101), black);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.productImage {
    margin-right: 20px;
    width: 50%;
}

.productInfo {
    flex: 1;
}

.productInfo h1 {
    margin-top: 0;
}

.productInfo p {
    margin: 5px 0;
}