.footer {
    background-color: #000;
    color: #fff;
    padding: 20px;
    flex-wrap: wrap;
}

.footerTop {
    text-align: center;
    padding-bottom: 20px;
}

.contactForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contactForm input,
.contactForm textarea {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
}

.contactForm button {
    padding: 10px 20px;
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.footerMiddle {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footerColumns {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    flex: 1 1 18%;
    padding: 10px;
    min-width: 200px;
}

.socialColumn {
    flex: 1 1 25%;
    padding: 10px;
    min-width: 200px;
}

.socialMediaImages {
    width: 28px;
}

.socialIcons,
.paymentIcons {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.socialIcons a,
.paymentIcons img {
    margin: 5px;
}

.paymentIcons img {
    width: 50px;
    height: auto;
}


/* Media Queries */

@media (max-width: 768px) {
    .footerColumns {
        flex-direction: column;
    }
    .column,
    .socialColumn {
        flex: 1 1 100%;
        padding: 10px 0;
    }
    .socialIcons,
    .paymentIcons {
        justify-content: center;
    }
    .contactForm input,
    .contactForm textarea {
        width: 80%;
    }
}

@media (max-width: 480px) {
    .footer {
        padding: 10px;
    }
    .contactForm input,
    .contactForm textarea {
        width: 100%;
        max-width: none;
    }
    .contactForm button {
        width: 100%;
    }
    .socialIcons,
    .paymentIcons {
        justify-content: center;
    }
    .column,
    .socialColumn {
        padding: 5px 0;
    }
    .socialMediaImages {
        width: 24px;
    }
    .paymentIcons img {
        width: 38px;
    }
}