/*!*******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/components/Card/Card.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************/
.Card_card__RlVbj {
    --bg-card: #27272a;
    --primary: #6d28d9;
    --primary-800: #4c1d95;
    --primary-shadow: #2e1065;
    --light: #d9d9d9;
    --zinc-800: #18181b;
    --bg-linear: linear-gradient(0deg, var(--primary) 50%, var(--light) 125%);
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    padding: 1rem;
    width: 225px;
    height: 345px;
    background-color: var(--bg-card);
    border-radius: 1rem;
    margin: 5px;
}

.Card_imageContainer__tz8v8 {
    overflow: hidden;
    cursor: pointer;
    position: relative;
    z-index: 5;
    width: 100%;
    height: 50%;
    background-color: var(--primary-800);
    border-radius: 0.5rem;
}

.Card_imageContainer__tz8v8 .Card_image__MTxJg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 3rem;
    fill: var(--light);
}

.Card_title__5D8xe {
    overflow: clip;
    width: 100%;
    font-size: 1rem;
    font-weight: 600;
    color: var(--light);
    text-transform: capitalize;
    text-wrap: wrap;
    text-overflow: ellipsis;
}

.Card_size__Zypco {
    font-size: 0.75rem;
    color: var(--light);
}

.Card_listSize__EKEu_ {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    margin-top: 0.25rem;
}

.Card_listSize__EKEu_ .Card_item-list__ie6XS {
    list-style: none;
}

.Card_listSize__EKEu_ .Card_item-list-button___K31I {
    cursor: pointer;
    padding: 0.5rem;
    background-color: var(--zinc-800);
    font-size: 0.75rem;
    color: var(--light);
    border: 2px solid var(--zinc-800);
    border-radius: 0.25rem;
    transition: all 0.3s ease-in-out;
}

.Card_itemListButton__egCj_:hover {
    border: 2px solid var(--light);
}

.Card_itemListButton__egCj_:focus {
    background-color: var(--primary);
    border: 2px solid var(--primary-shadow);
    box-shadow: inset 0px 1px 4px var(--primary-shadow);
}

.Card_punctuation__fxf1v {
    display: flex;
    width: 100%;
    justify-content: flex-start;
}

.Card_punctuation__fxf1v p {
    color: antiquewhite;
    margin-left: 5px;
}

.Card_estrellita__RmSKq {
    width: 25px;
    height: auto;
    margin: 3px
}

.Card_action__tE_tl {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 1rem;
}

.Card_price__b7tA4 {
    font-size: 21px;
    font-weight: 700;
    color: var(--light);
}
/*!*******************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/components/ButtonCart/ButtonCart.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************/
.ButtonCart_cartButton__0ulD_ {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    padding: 0.5rem;
    width: auto;
    background-image: var(--bg-linear);
    font-size: 0.75rem;
    font-weight: 500;
    color: var(--light);
    text-wrap: nowrap;
    border: 2px solid hsla(262, 83%, 58%, 0.5);
    border-radius: 0.5rem;
    box-shadow: inset 0 0 0.25rem 1px var(--light);
}

.ButtonCart_cartButton__0ulD_ .ButtonCart_cartIcon__apdPL {
    width: 1rem;
}
/*!*********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/components/Cards/Cards.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************/
.Cards_cardContainer__yzqfx {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.Cards_pagination__p_OGj {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.Cards_pagination__p_OGj button {
    margin: 0 5px;
    padding: 8px 16px;
    cursor: pointer;
}

.Cards_activePage__AEehV {
    font-weight: bold;
    text-decoration: underline;
}
/*!***************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/components/Carousel/Carousel.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************/
.Carousel_slideshowContainer__8c7ZA {
    max-width: 100%;
    position: relative;
    margin: auto;
    background-color: var(--color1);
    min-height: 35vw;
    height: 5rem;
  }
  
  .Carousel_dotContainer__MDDnV {
    text-align: center;
    position: absolute;
    top: 90%;
    left: 0;
    right: 0;
    margin: auto;
  }
  
  
  
  .Carousel_prev__5_kOz,
  .Carousel_next__WkTXW {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  .Carousel_next__WkTXW {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .Carousel_prev__5_kOz:hover,
  .Carousel_next__WkTXW:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .Carousel_img__n3unF {
    width: 100%;
  
  
    max-height: 35vw;
  
    object-fit: cover;
    /*object-position: 0px -100px; */
    display: block;
    margin: auto;
  }
  
  
  
  .Carousel_dot__u_2ZE {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .Carousel_activeDot__Kb8MI {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #717171;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .Carousel_activeDot__Kb8MI:hover {
    cursor: default;
  }
  
  .Carousel_dot__u_2ZE:hover {
    background-color: #717171;
  }
  
  .Carousel_fade__KIbJE {
    animation-name: Carousel_fade__KIbJE;
    animation-duration: 2s;
    transition: 2s;
  }
  
  @keyframes Carousel_fade__KIbJE {
    from {
      opacity: .1
    }
  
    to {
      opacity: 1
    }
  }
  
  @media (max-width: 750px) {
    .Carousel_slideshowContainer__8c7ZA {
      min-height: 55vw;
    }
  
    .Carousel_img__n3unF {
  
      max-height: 55vw;
  
    }
  
  }
