/*!*************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/components/ProductDetail/ProductDetail.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************/
.ProductDetail_productDetail__T9J88 {
    display: flex;
    align-items: flex-start;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    max-width: 800px;
    margin: auto;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.ProductDetail_productImage__AxrcQ {
    margin-right: 20px;
}

.ProductDetail_productInfo__bS3HY {
    flex: 1;
}

.ProductDetail_productInfo__bS3HY h1 {
    margin-top: 0;
}

.ProductDetail_productInfo__bS3HY p {
    margin: 5px 0;
}
