.cardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination button {
    margin: 0 5px;
    padding: 8px 16px;
    cursor: pointer;
}

.activePage {
    font-weight: bold;
    text-decoration: underline;
}